<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/globals.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Industrial</h1>
            <small>Integrated solutions. Proven Results</small>
        </div>
        <div>
            <h3>Questions Call <a href="tel:18002569802">1-800-256-9802</a></h3>
        </div>
    </header>

    <section>
        <!-- https://wallpaperaccess.com/full/4725708.jpg -->
        <div>
            <h1>
                A complete line of <br/>
                <b>INDUSTRIAL</b> <br/>
                SAFETY PRODUCTS
            </h1>
        </div>
        <div>
            <div>{{submitResponse}}</div>
            <div style="color:red">{{error}}</div>
            <form method="post">
                <input type="text" placeholder="FIRST NAME" name="first-name" required="required"/>
                <input type="text" placeholder="LAST NAME" name="last-name" required="required">
                <input type="text" placeholder="COMPANY" name="company" required="required">
                <input type="email" placeholder="EMAIL" name="email" required="required">
                <input type="tel" placeholder="PHONE" name="phone" required="required" >
                <textarea placeholder="MESSAGE" name="message" required="required"></textarea>

                <input type="submit" value="SUBMIT">

            </form>
        </div>
    </section>

    <section>
        <div>
            <h4>Innovations</h4>
            <img src="https://s3.amazonaws.com/s3.timetoast.com/public/uploads/photo/5015476/image/3a885fd61ab578925ceabc8a6af7b3ce">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, dolore perferendis. Autem praesentium eos temporibus. Perferendis sapiente nisi non quo explicabo quos. Molestias aut, quasi omnis repudiandae nihil commodi deleniti.</p>
        </div>
        <div>
            <h4>People &amp; Culture</h4>
            <img src="https://s3.amazonaws.com/s3.timetoast.com/public/uploads/photo/8792868/image/22d4f7ec8bec6a58ef72e40206f0e284">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, dolore perferendis. Autem praesentium eos temporibus. Perferendis sapiente nisi non quo explicabo quos. Molestias aut, quasi omnis repudiandae nihil commodi deleniti.</p>
        </div>
        <div>
            <h4>Solutions at a Glance</h4>
            <img src="https://www.kevinchamberlain.com.au/img/s/v-10/p3415846436-3.jpg">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, dolore perferendis. Autem praesentium eos temporibus. Perferendis sapiente nisi non quo explicabo quos. Molestias aut, quasi omnis repudiandae nihil commodi deleniti.</p>
        </div>
    </section>
</body>
</html>